<div class="image form-group">
  <input type="text" name="images[][title]" class="{{class}} form-control" id="{{text}}" placeholder="name">
  <input type="file" name="images[][file]" class="{{class}} form-control" id="{{url}}">
</div>
