<div class="link form-group">
  <input type="text" name="link[][name]" class="{{class}} form-control" id="{{text}}" placeholder="name">
  <input type="url" name="link[][url]" class="{{class}} form-control" id="{{url}}" placeholder="http://domain.com">
</div>
