<div class="link form-group">
  <input type="text" class="{{class}} form-control" id="{{text}}" placeholder="name">
  <input type="url" class="{{class}} form-control" id="{{url}}" placeholder="http://domain.com">
</div>
