<div class="videos form-group">
  <input type="text" name="videos[][code]" class="{{class}} video-input form-control" id="{{text}}" placeholder="embed code">
  <div class="video-preview"></div>
</div>
