<div class="link form-group">
  <input type="text" name="exhibitions[][title]" class="form-control" id="" value="tile">
  <input type="date" name="exhibitions[][date]" class="form-control" id="" value="">
  <input type="text" name="exhibitions[][location]" class="form-control" id="" value="location">
</div>
