<div class="col-md-offset-1 exhibition form-group">
  <label for="">title</label>
  <input type="text" name="exhibitions[][title]" class="form-control" id="" value="tile">
  <label for="">date</label>
  <input type="date" name="exhibitions[][date]" class="form-control" id="" value="">
  <label for="">location</label>
  <input type="text" name="exhibitions[][location]" class="form-control" id="" value="location">
</div>
