<div class="col-md-9 col-md-offset-1 home">

  <div class="col-md-3 action projects" id="projects">
    <i class="fa fa-file-text"></i>
    <h2>projects</h2>
  </div>

  <div class="col-md-3 action bio" id="bio">
    <i class="fa fa-user"></i>
    <h2>bio</h2>
  </div>

  <div class="col-md-3 action config" id="config">
    <i class="fa fa-gears"></i>
    <h2>config</h2>
  </div>

</div>
