<div class="col-md-12 col-md-offset-1 home">

  <div class="col-md-2 action news" id="news">
    <i class="fa fa-comment-o"></i>
    <h2>news</h2>
  </div>

  <div class="col-md-2 action projects" id="projects">
    <i class="fa fa-file-text-o"></i>
    <h2>projects</h2>
  </div>

  <div class="col-md-2 action statement" id="statement">
    <i class="fa fa-edit"></i>
    <h2>statement</h2>
  </div>

  <div class="col-md-2 action bio" id="bio">
    <i class="fa fa-smile-o"></i>
    <h2>bio</h2>
  </div>

  <div class="col-md-2 action config" id="settings">
    <i class="fa fa-hdd-o"></i>
    <h2>settings</h2>
  </div>

</div>
