<ul class="nav navbar-nav">
  <li><a class="main-nav" href="#" data-href="#news"><i class="fa fa-comment-o"></i></a></li>
  <li><a class="main-nav" href="#" data-href="#projects"><i class="fa fa-file-text-o"></i></a></li>
  <li><a class="main-nav" href="#" data-href="#statement"><i class="fa fa-edit"></i></a></li>
  <li><a class="main-nav" href="#" data-href="#bio"><i class="fa fa-smile-o"></i></a></li>
  <li><a class="main-nav" href="#" data-href="#settings"><i class="fa fa-hdd-o"></i></a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a class="main-nav" href="#" data-href="#build"><i class="fa fa-gears"></i> build site</a></li>
  <li><a class="main-nav" href="#" data-href="#upload"><i class="fa fa-cloud-upload"></i></a></li>
</ul>
