<div class="col-md-12 news">
  <div class="col-md-2">
    <h4><i class="fa fa-comment-o"></i> news</h4>

    <button class="btn btn-info" id="save">save</button>
    <button class="btn btn-danger" id="delete">delete</button>
    <button class="btn btn-warning" id="cancel">cancel</button>
  </div>
  <div class="col-md-10 rigth" id="form">
    <form role="form" id="news-form">
      <div class="form-group">
        <input type="text" class="form-control" name="title" id="title" value="{{title}}">
      </div>
      <div class="form-group">
        <article id="body" contenteditable="true">{{{body}}}</article>
      </div>
    </form>
  </div>
</div>

