<div class="col-md-12 projects">
  <div class="col-md-2">
    <h4><i class="fa fa-file-text"></i> new project</h4>

    <button class="btn btn-default" id="save">save</button>
  </div>
  <div class="col-md-10" id="form">
  </div>
</div>
