<div class="col-md-12 news">
  <div class="col-md-2">
    <h4><i class="fa fa-comment-o"></i> news</h4>
    <div id="new" class="new"><i class="fa fa-plus-square-o"></i></div>
  </div>
  <div class="col-md-10">
    <table id="project-list" class="table table-hover table-condensed">
      {{#each models}}
        <tr>
          <td>
            <a class="detail" data-id="{{this.id}}" href="#news/{{this.id}}">{{this.attributes.title}}</a>
          </td>
          <td>
            <button type="button" class="btn btn-danger delete" data-id="{{this.id}}">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>

      {{/each}}
    </table>
  </div>
</div>
