<div class="col-md-12 projects">
  <div class="col-md-2">
    <h4><i class="fa fa-file-text"></i> projects</h4>
    <div id="new"><i class="fa fa-plus"></i></div>
  </div>
  <div class="col-md-10">
    <table id="project-list" class="table table-hover table-condensed">

    </table>
  </div>
</div>
