<tr>
  <td>
    <a class="detail" data-id="{{id}}" href="#project/{{id}}">{{title}}</a>
  </td>
  <td>
    <button type="button" class="btn btn-danger delete" data-id="{{id}}">
      <i class="fa fa-times"></i>
    </button>
  </td>
</tr>
