<div class="col-md-12 settings">
  <div class="col-md-2">
    <h4><i class="fa fa-edit"></i> Statement</h4>

    <button class="btn btn-default" id="save">save</button>
  </div>
  <div class="col-md-10 right" id="form">
    <article id="statement" contenteditable="true">{{{statement}}}</article>
  </div>
</div>
